body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(211, 211, 211);
    border: 2px solid rgba(71, 71, 71, 0.1);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.display {
    background-color: rgb(156, 156, 156);
    display: flex;
    justify-content: flex-end;
    padding: 8px 12px 4px 12px;
    font-size: 42px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
    flex: 1;
}

.row {
    display: flex;
    gap: 12px;
}

.calculator button {
    width: 64px;
    height: 64px;
    font-size: 24px;

}

.button-clear,
.button-equals {
    flex-grow: 2;
}
